@{
	ViewData["Title"] = "Register";
}

<div class="container">
	<div class="screen_rg">
		<div class="screen__content_rg">
			<form class="login_rg" method="post">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Nombre..." name="user_name">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Apellido..." name="user_surname">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-envelope"></i>
					<input type="email" class="login__input" placeholder="Correo electrónico" name="user_email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Contraseña" name="user_password">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-calendar"></i>
					<input type="date" class="login__input" name="user_birth_date">
					<label style="font-family: Raleway, sans-serif;font-weight:700;">Fecha de nacimiento</label>
				</div>
				@* <select id="roles" name="user_role">
					<option value="">Seleccione un rol</option>
					@foreach (var role in Model)
					{
						<option value="@role.RoleDescription">@role.RoleDescription</option>
					}
				</select> *@
				<p style="font-weight:700; text-align:center;margin-top:10px;">¿Eres una empresa, o estás en búsqueda de empleo?</p>
				@foreach (var role in Model)
				{
					<button class="button login__submit" type="submit" name="selectedRole" value="@role.RoleDescription">@role.RoleDescription</button>
				}
			</form>
			<div class="lg_no_account">
				<p>Do you have an account already? <a asp-controller="Login" asp-action="Index">Log In instead</a></p>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>
