@{
    ViewData["Title"] = "Profile";
}
@model UserProfileViewModel

<h2>Mi Perfil</h2>

@if (ViewData.ModelState.ContainsKey(""))
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary(false, null, new { @class = "text-danger" })
    </div>
}

<form asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="UserName">Nombre:</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserSurname">Apellido:</label>
        <input asp-for="UserSurname" class="form-control" />
        <span asp-validation-for="UserSurname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserBirthDate">Fecha de Nacimiento:</label>
        <input asp-for="UserBirthDate" class="form-control" />
        <span asp-validation-for="UserBirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserProfileImg">Imagen de Perfil:</label>
        @if (Model.UserProfileImg != null)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.UserProfileImg)" />
        }
        else{
            <img src="Images/perfil_df.jpg" />
        }
    </div>
    <div class="form-group">
        <label asp-for="NewProfileImage">Seleccionar nueva imagen de perfil:</label>
        <input type="file" asp-for="NewProfileImage" class="form-control-file" />
        @* <span asp-validation-for="NewProfileImage" class="text-danger"></span> *@
    </div>

    <div class="form-group">
        <label asp-for="RoleDescription">Rol:</label>
        <input asp-for="RoleDescription" class="form-control" />
        <span asp-validation-for="RoleDescription" class="text-danger"></span>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>